body {
    font-family: "Raleway", sans-serif;
  }
  
  
  
  /* Texto NavBar */
  .neon {
    position: relative;
    overflow: hidden;
    filter: brightness(200%);
  }
  
  .text {
    background-color:  #000;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
    position: relative;
  }
  
  .text::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    filter: blur(0.02em);
    mix-blend-mode: difference;
  }
  
  .gradient {
    position: absolute;
    background: linear-gradient(45deg, red, gold, rgb(150, 144, 238), gold, red);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
  }
  
  .spotlight {
    position: absolute;
    top: -100%;
    left: -100%;
    right: 0;
    bottom: 0;
    background: radial-gradient(circle, white, transparent 25%) center / 25% 25%,
      radial-gradient(circle, white, black 25%) center / 12.5% 12.5%;
    animation: light 5s linear infinite;
    mix-blend-mode: color-dodge;
  }
  
  @keyframes light {
    to {
      transform: translate(50%, 50%);
    }
  }
  
  /* Hero Section */
  
  #Hero-Section {
    background-image: url("../img/bg-hero.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: left;
  }
  
  /* Mis trabajos */
  
  #Mis-trabajos .image-top {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  /* Contacto */
  
  #Contacto form label {
    font-weight: 700;
    color: #373a3c;
  }
  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  