* {
  margin: 0;
  padding: 0;
}
/* Texto NavBar */
.neon {
  position: relative;
  overflow: hidden;
  filter: brightness(200%);
}

.text {
  background-color:  #000;
  color: white;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
}

.text::before {
  content: attr(data-text);
  position: absolute;
  color: white;
  filter: blur(0.02em);
  mix-blend-mode: difference;
}

.gradient {
  position: absolute;
  background: linear-gradient(45deg, red, gold, rgb(150, 144, 238), gold, red);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
}

.spotlight {
  position: absolute;
  top: -100%;
  left: -100%;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle, white, transparent 25%) center / 25% 25%,
    radial-gradient(circle, white, black 25%) center / 12.5% 12.5%;
  animation: light 5s linear infinite;
  mix-blend-mode: color-dodge;
}

@keyframes light {
  to {
    transform: translate(50%, 50%);
  }
}

header{
  margin-top: 60px;
}

.navbar {
  background-color: #28a745;
}

.cuppon1 {
  width: 86px;
  height: 25px;
}

.card {
  margin: 5px;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  color: #707070;
}

.card-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #707070;
  display: flex;
  justify-content: left;
}

.card-text {
  display: flex;
  justify-content: left;
  font-size: 16px;
}

.card-text2{
  display: flex;
  justify-content: left;
  font-size: 13px;
}

.precios {
  display: flex;
  align-items: end;
  justify-content: space-between;
  
}

.precio1 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;  
}

.precio2 {
  color: #28a745;
  font-size: 20px;
}

.formulario {
  height: 214px;
  background-color: #28a745;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  color: aliceblue;
  display: flex;
  justify-content: center;
}

.input1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 50%;
}

.input2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px;
  width: 50%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cuppon2 {
  width: 82px;
  height: 24px;
  margin: 5px;
}
